* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navBtns {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  border-radius: 20px;
  height: 30px;
  width: 80px;
  background-color: rgb(0, 5, 123);
  color: aliceblue;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

hr {
  border: 1px black solid;
  margin-bottom: 20px;
}

.wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.news {
  margin: 60px 5px;
  border: 3px rgb(0, 5, 123) solid;
  padding: 20px;
  border-radius: 20px;
  width: 40%;
}

.title {
  font-size: 40px;
  margin: 20px 0;
  text-decoration: underline;
}

h1 {
  font-size: 60px;
  text-decoration: underline;
  color: rgb(0, 5, 123);
}

.description {
  font-size: 20px;
}
